<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:amazon="http://schemas.amazon.com/apk/res/android"
    package="com.kinesis.flutter_amazon_adm">

    <!-- Permisos necesarios para ADM -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.BIND_JOB_SERVICE" />
    <uses-permission android:name="com.amazon.device.messaging.permission.RECEIVE" />
    
    <permission
        android:name="com.kinesis.flutter_amazon_adm.permission.RECEIVE_ADM_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.RECEIVE_ADM_MESSAGE" />



    <application>


        <service android:name=".AdmMessageHandler"
            android:exported="false"/>
        
        <service
            android:name=".AdmMessageHandlerJob"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />
        
        <amazon:enable-feature android:name="com.amazon.device.messaging"
            android:required="false" />

        <activity
            android:name=".FlutterAmazonAdmPlugin"
            android:exported="false" />


        <receiver
            android:name=".AdmMessageReceiver"
            android:exported="true"
            android:permission="com.amazon.device.messaging.permission.SEND">
            <intent-filter>
                <action android:name="com.amazon.device.messaging.intent.REGISTRATION" />
                <action android:name="com.amazon.device.messaging.intent.RECEIVE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>




        <!-- Actividad para manejar notificaciones -->
        <activity
            android:name=".NotificationActivity"
            android:exported="false"
            android:theme="@style/LaunchTheme"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
        </activity>



        <!-- Metadatos necesarios -->
        <meta-data
            android:name="com.amazon.device.messaging.ADMEnabled"
            android:value="true" />
    </application>
</manifest>
